:root {
    --pink: hsla(350, 80%, 96%, 1);

    --border-color: hsla(355, 0%, 0%, 0.1);
    --text-color: hsla(355, 5%, 30%, 1);
    --text-color-hard: hsla(355, 15%, 15%, 1);
    --text-color-muted: hsla(355, 20%, 20%, 0.45);
    --accent-color: hsl(330, 100%, 71%);

    --link-color: hsla(355, 78%, 60%, 0.86);
    --link-color-hover: deeppink;

    --max-content-width: 60rem;

    --page-offset-x: 1.5rem;
    --header-height: 3.5rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: system-ui, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
p {
    color: inherit;
    font: inherit;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background: #fff;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.page__header {
    --color: hsla(355, 50%, 20%, 0.1);

    background: hsla(350, 0%, 98%, 1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.header {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding: 0 var(--page-offset-x);
    width: 100%;
}

.logo {
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.8rem;
    line-height: 1;
    text-decoration: none;
    transform-origin: bottom left;
    user-select: none;
    white-space: nowrap;
    -webkit-user-drag: none;
}

.logo__common {
    display: flex;
    align-items: center;
}

.logo__image {
    display: none;
    margin-top: -0.15em;
    width: 1.6em;
}

.logo__title {
    color: var(--accent-color);
    font-size: 2.3em;
    letter-spacing: 0.15em;
    margin-inline-end: -0.2em;
    text-transform: uppercase;
}

.logo__description {
    background: var(--accent-color);
    color: white;
    margin-block-start: 0.5em;
    font-size: 0.7em;
    padding: 0.25em 0;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    align-items: center;
    display: flex;
    transform-origin: right center;
}

.nav__link {
    align-items: center;
    color: inherit;
    cursor: pointer;
    line-height: 1;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-user-drag: none;
}

.nav__link:hover {
    color: var(--link-color-hover);
}

.nav__link--active {
    background: linear-gradient(to right, hsl(300deg 95% 70%), hsl(360deg 95% 65%));
    border-radius: 0.65rem;
    color: transparent !important;
    cursor: default;
    transition: none;
    user-select: initial;
    -webkit-background-clip: text;
}

.page__content {
    flex: auto;
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding: calc(var(--header-height) + 1rem) var(--page-offset-x) 2rem;
}

.page__title {
    font-size: 2rem;
    text-align: center;
}

.compare {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
    flex-grow: 1;
}

.ins {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30% 0 30%;

}

.text-ins-h4, .text-ins-p {
    text-align: center;
    font-family: system-ui;
    color: #210033;
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
}

.text-ins-p {
    opacity: 0.5;
}

.s1s2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.textarea {
    height: 300px;
    width: 500px;
    background-color: rgba(196, 245, 242, 0.15);
    border: #c4f5f2 solid 2px;
    border-radius: 10px;
    text-align: start;
    padding: 15px;
    margin: 25px;
    resize: none;
    font-family: system-ui;
    font-size: 18px;
    color: #210033;
}

.form_com {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-compare {
    font-size: 18px;
    font-weight: bold;
    background-color: #9e53cc;
    color: #fffcff;
    border: solid 1px #fffcff;
    border-radius: 14px;
    font-family: system-ui;
    transition: all .3s ease;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px;
}

.button-compare:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #9e53cc;
    transform: scale(1.05)
}

.button-compare:active {
    transform: scale(0.95);
    font-size: 17.8px;
    background-color: #8b36be;
    border: 1.3px solid;
    box-shadow: 0 0 20px #9e53cc;
}

.after {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}


.components {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.news {
    display: flex;
    justify-content: center;
    width: 50%;
    -ms-flex-align: center;
}

.zudaifu {
    width: 250px;
}


.page__footer {
    color: var(--text-color-muted);
    font-size: 0.85rem;
}

.footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding: 1em var(--page-offset-x);
    text-align: center;
}

.footer__links {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.footer__link {
    color: inherit;
}

.footer__link:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}


/*Страница сравнения*/
.compararison, .analyze {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-com, .h1-an {
    font-family: system-ui;
    color: #210033;
    margin-bottom: 20px;
}

.quick {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    border: rgba(33, 0, 51, 0.26) dotted;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.count, .quick_text, .h2-com, .h2-an, .p-an {
    margin-block-start: 0;
    font-family: system-ui;
    color: #210033;
    text-align: center;
}

.count {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.images-com {
    display: flex;
    align-items: center;
}

.tube-image-com, .tube-image-an {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.tube-h3 {
    font-family: system-ui;
    color: #210033;
    text-align: center;
}

.vs-img {
    width: 150px;
    height: 150px;

}

.tags {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 10px;
}

.tag1 {
    display: flex;
    border-right: rgba(33, 0, 51, 0.27) 1px dashed;
    padding-right: 12px;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    max-width: 400px;
}

.tag2 {
    display: flex;
    padding-left: 12px;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    max-width: 400px;
}

.tag-comp, .tag-an {
    font-family: system-ui;
    color: rgba(33, 0, 51, 0.73);
    text-align: center;
    font-size: 15px;
    border: rgba(33, 0, 51, 0.35) solid;
    padding: 10px;
    background-color: rgba(33, 0, 51, 0.04);
    border-radius: 30px;
    margin: 5px;
}

.sostav {
    display: flex;
    justify-content: center;
    align-items: start;
}

.sost1 {
    display: flex;
    flex-direction: column;
    border-right: rgba(33, 0, 51, 0.27) 1px dashed;
    padding-right: 50px;
    list-style-type: none;
}

.sost2 {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    list-style-type: none;
}

.li_sostav {
    border-bottom: rgba(33, 0, 51, 0.35) dashed;
    text-align: center;
    padding: 5px;
    margin: 15px;
    width: 300px;
    font-family: system-ui;
}

.sostav-a {
    font-size: 15px;
    /*font-family: system-ui;*/
    color: #210033;
    /*text-align: center;*/
    /*border-bottom: rgba(33, 0, 51, 0.35) dashed;*/
    padding: 4px;
    /*margin: 15px;*/
    /*width: 300px;*/
}

.sost-span {
    font-size: 12px;
    color: rgba(33, 0, 51, 0.53);
    padding: 3px;
}

.tags-an {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 20px;
}

.sost-an {
    display: flex;
    flex-direction: column;
}