:root {
    --pink: hsla(350, 80%, 96%, 1);

    --border-color: hsla(355, 0%, 0%, 0.1);
    --text-color: hsla(355, 5%, 30%, 1);
    --text-color-hard: hsla(355, 15%, 15%, 1);
    --text-color-muted: hsla(355, 20%, 20%, 0.45);
    --accent-color: hsl(330, 100%, 71%);

    --link-color: hsla(355, 78%, 60%, 0.86);
    --link-color-hover: deeppink;

    --max-content-width: 60rem;

    --page-offset-x: 1.5rem;
    --header-height: 3.5rem;
    --font-bold: 450;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: system-ui, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
p {
    color: inherit;
    font: inherit;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background: #fff;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.page__header {
    --color: hsla(355, 50%, 20%, 0.1);

    background: hsla(350, 0%, 98%, 1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding: 0 var(--page-offset-x);
    width: 100%;
    gap: 2rem;
}

.logo {
    align-self: end;
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1;
    text-decoration: none;
    transform-origin: bottom left;
    user-select: none;
    white-space: nowrap;
    -webkit-user-drag: none;
}

@media(max-width: 767px) {
    .logo{
        font-size: 0.875rem;
    }
}

.logo__common {
    display: flex;
    align-items: center;
}

.logo__title {
    color: var(--accent-color);
    font-size: 2.3em;
    letter-spacing: 0.15em;
    margin-inline-end: -0.2em;
    text-transform: uppercase;
    font-weight: 200;
}

.logo__description {
    background: var(--accent-color);
    color: white;
    margin-block-start: 0.5em;
    font-size: 0.7em;
    padding: 0.25em 0;
    text-align: center;
    text-transform: uppercase;
}
.search{
    display: flex;
    flex-wrap: nowrap;
    background: white;
    padding: 0 0.5rem ;
    border-radius: 0.25rem;
}

@media(max-width: 767px) {
    .search{
        margin: 1.3rem;
        font-size: 1.6rem;
    }
}

.search:focus-within{
    outline: var(--accent-color) solid;
}

.search__input-text{
    background: none;
    border: none;
    width: 100%;
    min-width: 4rem;
}

.search__input-text:focus, .search__button:focus{
    outline: none;
}

.search__button{
    background: none;
    border: none;
}

.nav {
    align-items: center;
    display: flex;
    transform-origin: right center;
    justify-content: space-between;
    flex-grow: 1;
}

@media(max-width: 767px) {
    .nav {
        flex-direction: column;
        align-items: start;
        position: fixed;
        justify-content: flex-start;
        left: 0;
        top: var(--header-height);
        bottom: 0;
        width: 100%;
        background-color: hsla(350, 0%, 98%, 1);
        transition: 0.3s ease-out;
        transform: translateX(calc(var(--header-height) + 100%));
        box-shadow: -10px 0 8px -10px;
    }
    .nav.active{
        transform: none;
    }
}

.nav__links{
}

@media(max-width: 767px) {
    .nav__links{
        display: flex;
        flex-direction: column;
    }
}

.nav__link {
    align-items: center;
    color: inherit;
    cursor: pointer;
    line-height: 1;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-user-drag: none;
}

@media(max-width:767px) {
    .nav__link {
        font-size: 1.6rem ;
        padding: 1.3rem;
    }
}

.nav__link:hover {
    color: var(--link-color-hover);
}

.nav__link--active {
    background: linear-gradient(to right, hsl(300deg 95% 70%), hsl(360deg 95% 65%));
    border-radius: 0.65rem;
    color: transparent !important;
    cursor: default;
    transition: none;
    user-select: initial;
    -webkit-background-clip: text;
}

.header__burger{
    display: none;
    background: none;
    border: none;
    padding: 0;
    text-align: inherit;
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
    flex-shrink: 0;
    align-self: center;
}

.header__burger:before,
.header__burger:after{
    content: '';
    background-color: var(--accent-color);
    position: absolute;
    width: 100%;
    height: 2px;
    transition: 0.3s;
}

.header__burger span{
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 2px;
    top: 11px;
    transition: 0.3s;
}

.header__burger:before {
    top: 0;
}

.header__burger:after{
    bottom: 0;
}

.header__burger.active:before {
    transform: translateY(11px) rotate(45deg);
}

.header__burger.active:after{
    transform: translateY(-11px)  rotate(-45deg);
}

.header__burger.active span{
    transform: scale(0);
    opacity: 0;
}

@media(max-width:767px) {
    .header__burger {
        display: block;
    }
}

.page__content {
    flex: auto;
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding: calc(var(--header-height) + 1rem) var(--page-offset-x) 2rem;
}

.page__title {
    font-size: 2rem;
    text-align: center;
}

.intro {
    margin-bottom: 1rem;
}

.intro__text {
    color: var(--text-color);
    margin: 0.75em auto 0;
}

.page__form {
}

.form {
}

.comparison--names {
    position: sticky;
    top: var(--header-height);
    z-index: 1;
}

.comparison {
    display: flex;
    flex: 1 1 auto;
    gap: 2rem;
}

.comparison__separator {
    flex: none;
    border-right: 1px solid var(--border-color);
    border-right: 2px solid hsla(355, 0%, 0%, 0.03);
    position: relative;
}

.comparison__vs {
    background: white;
    color: var(--text-color-muted);
    font-weight: 500;
    left: -10px;
    padding: 10px 0;
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    user-select: none;
}

.comparison__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 1 50%;
}

.form__submit-panel {
    flex: 0 0 auto;
    margin-top: 2rem;
    text-align: center;
}

.input__text {
    background: none;
    border: none;
    font-weight: 500;
    padding: 0.25rem;
    text-align: center;
    width: 100%;
}

.input__text::placeholder {
    color: var(--text-color-muted);
}

.input__text:focus {
    outline: none;
    box-shadow: 0 2px var(--accent-color);
}

.textarea {
    border-radius: 0.5rem;
    border: none;
    font-weight: 400;
    width: 100%;
    box-shadow: 0 0 0 1px var(--border-color);
    height: calc(100vh - 26rem);
    max-height: 30rem;
    min-height: 10rem;
    padding: 0.5rem 1rem;
    resize: none;
}

.textarea::placeholder {
    color: var(--text-color-muted);
}

.textarea:focus {
    box-shadow: 0 0 0 2px var(--accent-color);
    outline: none;
}

.form__submit-button {
    background: linear-gradient(to right, hsl(320deg 95% 70%), hsl(340deg 95% 65%));
    color: #fffcff;
    border: none;
    border-radius: 2em;
    box-shadow: 1px 1px 10px -3px #cc54b8;
    cursor: pointer;
    font: inherit;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 1rem 1.5rem;
    transition: transform 0.05s ease-out, filter 0.05s ease-out, box-shadow 0.05s ease-out;
    user-select: none;
}

.form__submit-button:hover {
    box-shadow: 1px 1px 10px -2px #cc54b8;
    filter: saturate(1.3);
    transform: scale(1.02);
}

.form__submit-button:active {
    box-shadow: 1px 1px 10px -10px #cc54b8;
    filter: brightness(0.95);
    transform: scale(0.98);
}


.total {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
}

.total__count {
    /*outline: 1px solid darkblue;*/
}

.total__count:first-child {
    text-align: end;
    transform: translateX(50%);
}

.total__count:last-child {
    text-align: start;
    transform: translateX(-50%);
}

.total__label {
    flex: 0 1 50%;
    text-align: center;
}

.ingredient {
}

.ingredient__description {
    color: var(--text-color-muted);
    font-size: 0.8rem;
}

.page__footer {
    color: var(--text-color-muted);
    font-size: 0.85rem;
}

.footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-content-width);
    padding: 1em var(--page-offset-x);
    text-align: center;
}

.footer__links {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.footer__link {
    color: inherit;
}

.footer__link:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}


/*Страница сравнения*/
.result {

}

.result__name {
    background: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    display: inline-block;
    font-weight: 500;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
}

.result-list__item {
    margin-bottom: 0.5rem;
}

.count{
    margin-block-start: 0;
    color: #210033;
    text-align: center;
}

.count {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.result-list__item {
    border-bottom: rgba(33, 0, 51, 0.35) dashed;
    padding: 5px;
    margin: 15px;
    width: 300px;
}

.ingredient {
    display: flex;
    text-align: center;
}
.ingredient__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ingredient__score{
}

.ingredient__name {
    font-size: 15px;
    color: #210033;
    padding: 4px;
}

.founded{
}

.found-list{
    list-style: none;
}

.ingredient-card{
    display: flex;
    align-items: flex-start;
    padding: 0.5em 0;
    gap: 2em;
}

@media(max-width:767px) {
    .ingredient-card {
        flex-direction: column-reverse;
        gap: 0.5em;
        padding: 0;
    }
}

.ingredient-card__about{
}

.ingredient_image{
    flex-basis: 30%;
    flex-shrink: 0;
    margin: 0.75em auto 0;
    width: 30%;
    background: #f5f5f5;
    aspect-ratio: 1;
}

@media(max-width:767px) {
    .ingredient_image{
        width: 50%;
    }
}


.table_concern{
    color: inherit;
    font: inherit;
    border-top: 1px solid var(--border-color) ;
    border-bottom: 1px solid var(--border-color) ;
    padding: 1rem;
    width: 90%;
}

@media(max-width:767px) {
    .table_concern{
        width: 100%;
        padding: 0;
        margin: 1em 0;
    }
}

.table_concern td {
    padding: 0.5rem;
}

.table_concern th {
    font-weight: 400;
    padding: 0.25rem;
    text-align: start;
}

.ingredient-card__about__text{
    margin: 0.75em auto ;
}

@media(max-width:767px) {
    .ingredient-card__about__text {
        margin: 0.25em auto;
    }
}

.ingredient-card__about__header{
    margin: 0.75em auto 0;
    font-weight: 400;
}

@media(max-width:767px) {
    .ingredient-card__about__header {
        font-weight: 400;
        margin: 0.5em auto;
    }
}

.ingredient-card__about__list{
    margin: 0.5em;
}

@media(max-width:767px) {
    .ingredient-card__about__list {
        margin: 0;
    }
}

.ingredient-card__about__item{
    margin: 0.5em auto;
}



