@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html{
    height: 100%;
}

.root{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color:#fffcff;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: system-ui;
    color: #210033;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid #e2d4f5;
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: left;
    align-items: end;
    flex-shrink: 0;
}

.logo-span{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: end;
}

.img-logo {
    width: 100px;
}

.span-logo {
    line-height: 1;
    display: block;
    font-size: 3.1em;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
}

.nav {
    display: flex;
    width: 62%;
    justify-content: space-evenly;
    font-size: 1.6em;
    align-items: end;
}

.a-nav{
    text-decoration: none;
    transition: all .6s ease;
}
.a-nav:hover {
    color: rgba(35, 3, 51, 0.57);
}

.compare{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
    flex-grow: 1;
}

.ins{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30% 0 30%;

}
.text-ins-h4 , .text-ins-p {
    text-align: center;
    font-family: system-ui;
    color: #210033;
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
}

.text-ins-p{
    opacity: 0.5;
}
.s1s2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.textarea{
    height: 300px;
    width: 500px;
    background-color: rgba(196, 245, 242, 0.15);
    border: #c4f5f2 solid 2px ;
    border-radius: 10px ;
    text-align: start;
    padding: 15px;
    margin: 25px;
    resize: none;
    font-family: system-ui ;
    font-size: 18px;
    color: #210033;
}
.form_com{
    display: flex;
    justify-content: center;
}

.button-compare{
    font-size: 18px;
    font-weight: bold;
    background-color: #9e53cc;
    color: #fffcff;
    border: solid 1px #fffcff;
    border-radius:14px;
    font-family: system-ui;
    transition: all .3s ease;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px;
}

.button-compare:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #9e53cc ;
    transform: scale(1.05)
}

.button-compare:active{
    transform: scale(0.95);
    font-size: 17.8px;
    background-color: #8b36be;
    border: 1.3px solid;
    box-shadow: 0 0 20px #9e53cc;
}

.after{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}
.components{
    display: flex;
    justify-content:space-around;
    width: 50%;
}

.news{
    display: flex;
    justify-content:center;
    width: 50%;
    -ms-flex-align: center;
}
.zudaifu{
    width: 250px;
}
.footer{
    display: flex;
    width: 100%;
    text-align: center;
    border-top: solid 5px rgb(226, 212, 245);
}
footer>a{
    flex-basis: 30%;
    padding: 20px;
}


/*Страница сравнения*/
.compararison, .analyze{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1-com, .h1-an{
    font-family: system-ui;
    color: #210033;
    margin-bottom: 20px;
}

.quick{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    border: rgba(33, 0, 51, 0.26) dotted;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.p-com, .h2-com, .h2-an, .p-an{
    margin-block-start: 0;
    font-family: system-ui;
    color: #210033;
    text-align: center;
}
.images-com{
    display: flex;
    align-items: center;
}

.tube-image-com, .tube-image-an{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.tube-h3{
    font-family: system-ui;
    color: #210033;
    text-align: center;
}

.vs-img{
    width: 150px;
    height: 150px;

}
.tags{
    display: flex;
    justify-content:center;
    align-items: start;
    margin: 10px;
}

.tag1{
    display: flex;
    border-right: rgba(33, 0, 51, 0.27) 1px dashed;
    padding-right: 12px;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    max-width: 400px;
}

.tag2{
    display: flex;
    padding-left: 12px;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    max-width: 400px;
}

.tag-comp, .tag-an{
    font-family: system-ui;
    color: rgba(33, 0, 51, 0.73);
    text-align: center;
    font-size: 15px;
    border: rgba(33, 0, 51, 0.35) solid;
    padding: 10px;
    background-color: rgba(33, 0, 51, 0.04);
    border-radius: 30px;
    margin: 5px;
}

.sostav{
    display: flex;
    justify-content:center;
    align-items: start;
}

.sost1{
    display: flex;
    flex-direction: column;
    border-right: rgba(33, 0, 51, 0.27) 1px dashed;
    padding-right: 50px;
    list-style-type: none;
}

.sost2{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    list-style-type: none;
}

.li_sostav{
    border-bottom: rgba(33, 0, 51, 0.35) dashed;
    text-align: center;
    padding: 5px;
    margin: 15px;
    width: 300px;
    font-family: system-ui;
}
.sostav-a{
    font-size: 15px;
    /*font-family: system-ui;*/
    color: #210033;
    /*text-align: center;*/
    /*border-bottom: rgba(33, 0, 51, 0.35) dashed;*/
    padding: 4px;
    /*margin: 15px;*/
    /*width: 300px;*/
}
.sost-span{
    font-size:12px;
    color: rgba(33, 0, 51, 0.53);
    padding: 3px;
}

.tags-an{
    display: flex;
    justify-content:center;
    align-items: start;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 20px;
}

.sost-an{
    display: flex;
    flex-direction: column;
}